<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href=""><img src="views/img/web/logo.png" alt="Logo" class="img-fluid" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">MonlauTube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Explorar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Suscripciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Historial</a>
                    </li>
                </ul>
                <div class="d-flex">

                    <button class="btn btn-light ms-3">Dark</button>
                    <button class="btn btn-light ms-3">Blue</button>
                    <button class="btn btn-light ms-3">White</button>

                </div>
            </div>
        </div>
    </nav>
</header>