<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Suscríbete a nuestro Newlester</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Navegación</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Registro</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Iniciar Sesión</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Descubrir</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Historial</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">PC</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white"></a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Mundo Abierto</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Carreras</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">PlayStation</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Xbox</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Coming Soon</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="mailto:sergicastin@monlau.com">Sergi Castillo - sergicastillo@hotmail.es</a>
    </div>
</footer>